.container {
  display: flex;
  width: 200px;
  height: 800px;
  /* flex-direction: row-reverse; */
  flex-direction: column;
}

.item{
  min-width: 100px;
  min-height: 100px;
}

.green{
  background-color: #51d400;
  flex-grow: 1;
}

.yellow {
  background-color: #ffd62a;
  flex-grow: 2;
  order: 1;
}

.purple{
  background-color: #b02aff;
  flex-grow: 1;
}